/* ------------------- */
/*      GLOBAL STYLES   */
/* ------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto";
   
}



/* ------------------- */
/*      Navbar STYLES   */
/* ------------------- */
#navbar {
    position: fixed;
    width: 100%; 
    padding: 20px 40px; 
    display:flex; 
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #EAE0C8;
    width: 100%;
    max-width: 1440px; 
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;




}
.top_banner{
    position: relative;
    height: 100vh;
    overflow: hidden;

    /* height: 100vh;
    background-image: url("images/Tattoo_images/main_photo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; */
}
.top_banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% center;
    top: 0;
    left: 0; 
    z-index: -1 ;
}

.logo {
    font-family:"Lucky";
    font-size: 24px;
    font: 500;
   
}


.nav_links{
    list-style: none;
    display: flex;
    gap: 24px;
 
}
.nav_links  a{
    /* display: inline; */
    text-decoration: none;
    align-items: center;
    color: #111;
    font-weight: 500;
    transition: color 0.3s ease;
   
}
.nav_links  a:hover{
    color: #EAE0C8;
}
.navbar-icons{
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-icons img {
    margin-left: 16px;
    font-size: 18px;
    color: #111;
    transition: opacity 0.3s ease;
  }
  
  .navbar-icons img:hover {
    opacity: 0.6;
  }
  /* Logo / Links */
.left_nav{
    display: flex;
    align-items: center;
    gap: 32px;
   
}
/* ------------------- */
/*      Video_Background STYLES   */
/* ------------------- */
.video_rectangle{
    background-color: #EAE0C8;
    width: 100%;
}

